#site{
    text-align: center;
    margin: auto;
    max-width: 1100px;
    }
    .name {
        font: 56px georgia;
        color: black;
        }
    .photo{
        border-radius: 4px;
        max-width: 90%;
        margin-bottom: 20px;
        object-fit: cover;
        }
    .body-text{
        font: 16px georgia;
        color: black;
        text-align: left;
        margin-top: 0;
        }
    .column{
        float: left;
        width: 50%;
    }
    .row:after{
        content: "";
        display: table;
        clear: both;
    }

@media screen and (max-width: 1100px) {
  .column {
    width: 80%;
    max-width: 650px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo{
    width: 100%;
    max-width: 420px;
  }
}    
